<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slip</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="box mt-2 m-auto">
        <div class="header">
            <div class="text-center">
                <h4 class="heading">APPAJI WEIGH BRIDGE</h4>
                <h6 class="subHeading">AT, ILKAL KUSTAGI SERVICE ROAD, NEAR DARGA</h6>
                <h6 class="subHeading">ILKAL-587125</h6>
                <img src="/images/Essae-HR-Logo.png" alt="logo" class="image">
            </div>
            <div class="firm">
                <img src="/images/qrcode.png" alt="qrcode"class="qrcode">
            </div>
            <div class="contact">
                <h6 class="subHeading mb-1">MOB:9448137893</h6>
            </div>
            <div class="contact2">
                <h6 class="subHeading">9449810993</h6>
            </div>
        </div>
        <div class="exceptHeading">
            <div class="vehicle ">
                <h6 class="exceptHeading">TICKET NO: 990</h6>
                <h6 class="exceptHeading">VEHICLE NO: KA 29 N 2998</h6>
                <h6 class="exceptHeading">MATERIAL: IRON</h6>
            </div>
            <img src="/images/paid.png" alt="paid" class="paidImage">
            <div class="supplier">
                <h6 class="exceptHeading">SUPPLIER: S B APPAJI</h6>
                <h6 class="exceptHeading">AMOUNT: 200</h6>
            </div>
            <hr class="wide-line">
        </div>
        <div>
            <div>
                <img src="/images/TRUCK2.png" alt="truck" class="icons loadedTruck">
                <img src="/images/truck.png" alt="truck" class="icons emptyTruck">
                <img src="/images/boxes.png" alt="load" class="icons load">
            </div>
            <div class="weight">
                <h6 class="exceptHeading">GROSS WT : 60000 KG</h6>
                <h6 class="exceptHeading mt-4">TARE WT : 12000 KG</h6>
                <h6 class="exceptHeading mt-4"><u>NET WT : 48000 KG</u></h6>
            </div>
            <div class="dates">
                <h6 class="exceptHeading">DATE: 12-12-2023</h6>
                <h6 class="exceptHeading mt-4">DATE: 12-12-2023</h6>
            </div>
            <div class="times">
                <h6 class="exceptHeading">TIME: 10:45:45</h6>
                <h6 class="exceptHeading mt-4">TIME: 10:45:45</h6>
            </div>
            <div class="thankNote text-center">
                <h6 class="exceptHeading">THANK YOU</h6>
                <h6 class="exceptHeading">Weighed on Essae Electronic Truck Scale</h6>
            </div>
            <div class="operatorSign">
                <h6 class="exceptHeading">Operator Sign</h6>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="row ">
            <div class="col ">
                <!-- Print button -->
                <button id="printButton" class="btn btn-primary" style="margin-top: 90px;">Print</button>
            </div>
            <div class="col">
                <a href="/" class="btn btn-primary" style="margin-top: 90px;">Home</a>
            </div>
        </div>
        <script>
            document.getElementById('printButton').addEventListener('click', () => {
                window.print(); // Trigger browser's print functionality
            });
        </script>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>